<!-- views/partials/footer.ejs -->

<div class="container">
  <div id="contact-links">
    <ul class="list-inline">
      <li>
        <a href="mailto:CANES@kcl.ac.uk" target="_blank" >
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="http://twitter.com/CANES_CDT" target="_blank" >
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
  <p class="copyright">
    &copy;2017<script>
      new Date().getFullYear() > 2017 && document.write("-" + new Date().getFullYear());
    </script>
    , CANES Programme.
  </p>
</div>
