<!-- views/partials/head.ejs -->

<!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8">
<title>Conference on Non-Equilibirum Systems</title>
<meta name="description" content="CONES conference website">
<meta name="author" content="Andrew Lane">
<!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!-- maximum-scale=1 prevents mobile users zooming in -->
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/skeleton.css">
<link rel="stylesheet" href="css/custom.css">

<!--  favicon -->
<link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />

<!-- Twitter card meta data -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@CANES_CDT" />
<meta name="twitter:creator" content="@alanescience" />
<meta name="twitter:title" content="Conference on Non-Equilibrium Systems" />
<meta name="twitter:description" content="Official website for the 2018 CONES conference" />
<meta name="twitter:image" content="img/favicon-260x260.png" />
