<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="code-snippets-visible" id="home">
  <header>
    <% include ../partials/header %>
  </header>

  <div class="container">
    <section id="page-title">
      <h2 class="title">Background</h2>
      <div class="main-text">
      <h4>What are Non-Equilibrium Systems?</h4>
      <div>
	<p>
	  How do we understand whether epidemics will spread, or predict the
	  likelihood of extreme meteorological events? How do we optimize the
	  design of nanoparticles to maximize efficiency in drug and gene
	  delivery? How do we control heating in fast electronic devices, or
	  understand how next generation solar cells might work? Can we detect
	  whether a network of financial institutions is close to a crash? Can
	  we predict the fate of cellular states in health and disease? These
	  research challenges all relate to <b>non-equilibrium systems</b>.
	</p>

	<p>
	  Such systems are typically irreversible, e.g. because they dissipate
	  energy persistently pumped in from the outside, or they age towards
	  an equilibrium state that is never reached. They also frequently
	  exhibit extreme events, such as cascades of collective failure or the
	  thermally activated rare event of a drug molecule being released from
	  a vesicle.
	</p>

	<h4>Crossing discipline boundaries</h4>
	<p>
	  As the examples above show, the challenge of understanding
	  non-equilibrium systems is central to a wide variety of problems
	  across the spectrum of physical, mathematical, biological and
	  environmental sciences. Significant advances will have to come from
	  researchers capable of exploiting and enhancing these
	  interdisciplinary links.
	</p>

	<h4>Research at King's College London</h4>
	<p>
	  King's College London is home to a leading Non-Equilibrium Systems
	  research centre— the Centre for Non-Equilibrium Science
	  (<a href="https://cnes.kcl.ac.uk" target="_blank">CNES</a>). The
	  centre comprises over 40 academics at King's, with subject
	  backgrounds including Mathematics, Physics, Chemistry, Biology,
	  Geography and Informatics. Its role is to serve as a focal point for
	  cross-disciplinary research into non-equilbirium science
	  internationally. In line with this obective, CNES organises the
	  biennial CONES conference, and provides access to resources to assist
	  in disseminating understanding of non-equilibrium science,
	  including <a href="https://cnes.kcl.ac.uk/category/resources/"
	  target="_blank">video lectures</a>.
	</p>
	<p>
	  CNES also incorporates the EPSRC-funded Centre for Doctoral Training
	  in Cross-Disciplinary Approaches to Non-Equilibrium Systems
	  (<a href="https://cnes.kcl.ac.uk/cdt/"
	  target="_blank">CANES</a>). The objective of the CDT is to train
	  future research leaders in the understanding, control and design of
	  systems far from equilibrium, based on rigorous training in
	  theoretical modelling, simulation and data-driven analysis, and a
	  breadth of awareness of common themes across disciplines.
	</p>
    </section>

  </div>

<% include ../partials/navigation %>
<footer>
<% include ../partials/footer %>
</footer>
