<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="code-snippets-visible" id="home">
  <header>
    <% include ../partials/header %>
  </header>

  <div class="container">
    <section id="page-title">
      <h2 class="title">Contact</h2>
      <p>Please direct all enquiries to <a href="mailto:CANES@kcl.ac.uk" target="_blank" >CANES@kcl.ac.uk</a>.
      </p>
    </section>

  </div>

<% include ../partials/navigation %>
<footer>
<% include ../partials/footer %>
</footer>
