<% include ../partials/header %>

<!-- title with concept ––––––––––––––––––––––––––––––––– -->
<section class="header">
  <h2 class="title">Cross-disciplinary Approaches to Nonequilibrium Systems</h2>
  <div class="row" style="margin: 7rem">



  </div>
</section>

<!-- navigation header ———————————————————————————————————————— -->
<div class="navbar-spacer"></div>
<nav class="navbar">

  <div class="container">
    <ul class="navbar-list">

      <li class="navbar-item">
        <a class="navbar-link" href="#overview">Home</a>
      </li>

      <li class="navbar-item">
        <a class="navbar-link" href="#overview">Background</a>
      </li>

      <li class="navbar-item">
        <a class="navbar-link" href="#overview">Programme</a>
      </li>

      <li class="navbar-item">
        <a class="navbar-link" href="#overview">Registration</a>
      </li>

      <li class="navbar-item">
        <a class="navbar-link" href="#overview">Participants</a>
      </li>

      <li class="navbar-item">
        <a class="navbar-link" href="#overview">Accomodation</a>
      </li>

      <li class="navbar-item">
        <a class="navbar-link" href="#overview">Contact</a>
      </li>

      <li class="navbar-item">
        <a class="navbar-link" href="#overview">Feedback</a>
      </li>

    </ul>
  </div>

</nav>

<!-- overview description ———————————————————————————————————————— -->
<div class="docs-section" id="overview">
  <h6 class="docs-header">blablabla</h6>
  <p>blablabla</p>
</div>

<!-- simulations ———————————————————————————————————————— -->
<div class="docs-section" id="library">
  <h6 class="docs-header">Library</h6>
  <div class="grid">

    <div id="filament-ratchets" style="top:-30px; position: relative;"></div>
    <div class="row">

      <div class="twelve columns">
        <a href="blablabla" class="button">blablabla</a>
      </div><br><br>

        <p>
            blablabla
        </p>
        <p>
            blablabla
        </p>

    </div>

    <div id="wildfires" style="top:-30px; position: relative;"></div>
    <div class="row">

      <div class="twelve columns">
        <a href="blablabla" class="button">blablabla</a>
      </div><br><br>

        <p>
            blablabla
        </p>

    </div>
  </div>
</div>

<!-- simulations ———————————————————————————————————————— -->
<div class="docs-section" id="blablabla">
  <h6 class="docs-header">Proofs</h6>
  <div class="grid">

    <div id="blablabla" style="top:-30px; position: relative;"></div>
    <div class="row">

      <div class="twelve columns">
        <a href="blablabla" class="button">blablabla</a>
      </div><br><br>

        <p>
            blablabla
        </p>

    </div>
  </div>
</div>

<% include ../partials/footer %>
