<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="code-snippets-visible" id="home">
  <header>
    <% include ../partials/header %>
  </header>
  <div id="title-banner">
    <!--<img src="img/strand_night_1920x480.jpg" alt="Strand Campus at night">-->
    <picture>
      <source media="(max-width: 320px)" srcset="img/strand_night_320x483.jpg">
      <source media="(max-width: 360px)" srcset="img/strand_night_360x555.jpg">
      <source media="(max-width: 375px)" srcset="img/strand_night_375x582.jpg">
      <source media="(max-width: 414px)" srcset="img/strand_night_414x651.jpg">
      <source media="(max-width: 768px)" srcset="img/strand_night_768x427.jpg">
      <source media="(min-width: 469px)" srcset="img/strand_night_1920x480.jpg">
      <img src="img/strand_night_1920x480.jpg" alt="Strand Campus at night">
    </picture>
    <div id="title-text">
      <h2 class="title">Conference on Non-Equilibrium Systems</h2>
      <h3>King's College London</h3>
      <h4>25-27th June 2018</h4>
    </div>
  </div>

  <div class="container">
    <div class="docs-section" id="conference-overview">
      <h4 id="tagline">"Frontiers of non-equilibrium science"</h4>
      <ul class="big-list">
	<li>
	  Seeking to bring together researchers working on problems in
	  Non-Equilibrium Systems in any discipline &#x2013; from the
	  physical to the biological.
	</li>
	<li>
	  Engage with the unifying ideas, methods, and challenges which
	  characterise the study of irreversible processes.
	</li>
	<li>
	  Interact with a cross-disciplinary group of academics from King's College
	  London and beyond at our historic Strand campus in central London.
	</li>
      </ul>

    </div>

    <div class="row logo-banner">
      <div class="one-half column">
        <div class="logo-container">
        <a href="https://www.kcl.ac.uk/innovation/groups/noneqsys" target="_blank">
          <img src="img/KCL_logo.gif" id="kcl-logo" alt="KCL Logo">
        </a>
        <!--
        <div class="pin pin1">
        <span class="fa-stack fa-2x pointer-icon">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-hand-pointer-o fa-stack-1x fa-inverse"></i>
        </span>
      </div>
        -->
      </div>
    </div>

    <div class="one-half column">
      <div class="logo-container">
      <a href="https://www.epsrc.ac.uk/skills/students/centres/profiles/crossdisciplinaryapproachestononequilibriumsystems/" target="_blank">
        <img src="img/epsrc-logo.jpg" id="epsrc-logo" alt="EPSRC Logo">
      </a>
      <!--
      <div class="pin pin2">
      <span class="fa-stack fa-2x pointer-icon">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-hand-pointer-o fa-stack-1x fa-inverse"></i>
      </span>
    </div>
      -->
    </div>
  </div>
    </div>

  </div>



<% include ../partials/navigation %>
<footer>
<% include ../partials/footer %>
</footer>
