<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<style>
		#map {
			width: 100%;
			height: 400px;
			background-color: grey;
		}
	</style>
</head>

<body class="code-snippets-visible" id="home">
	<header>
		<% include ../partials/header %>
	</header>

<div class="container">
	<section id="page-title">
		<h2 class="title">Location</h2>
	</section>

	<div class="docs-section" id="location-info">
	  The conference will take place at King's College
	  London, <a href="img/strandmap.jpg" target="_blank">Strand Campus</a>,
	  in the centre of
	  London. See <a href="https://www.google.co.uk/maps/search/lodging+near+Strand,+London+WC2R+2LS/data=!3m1!4b1!4m5!2m4!5m3!5m2!1s2018-06-25!2i2"
	  target="_blank">links</a> for nearby accommodation.
		<br><br>
		<p style="text-align:center">
		<strong>King’s College London</strong><br>
		Strand Campus<br>
		London WC2R 2LS
		</p>
	</div>

	<div id="map"></div>
	<script>

	var map
	var infowindow

		function initMap() {
			var location = {lat: 51.512097, lng:-0.116779}

			map = new google.maps.Map(
				document.getElementById('map'), {

					center: location,
					zoom: 14,

					disableDefaultUI: true,
					mapTypeControl: false,

					gestureHandling: 'cooperative',
					styles: styles
			})

			var marker = new google.maps.Marker({

				position: location,
				map: map,

				icon: {

					path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW,
					fillColor: '#ff0000',
					strokeColor: '#ff0000',

					fillOpacity: 1,
					strokeWeight: 1,
					scale: 7
				}
			})

			google.maps.event.addListener(marker, 'click', function() {

				var name = 'King’s College London'
				var vicinity = 'Strand Campus, London WC2R 2LS'

				infowindow.setContent('<div> <p style="font-weight:900;font-family:verdana; margin-bottom:5px">'
				+name+'</p>'+vicinity+'<br>'+'<a href="img/strandmap.jpg">'+'Detailed Map'+'</a></div>')
				infowindow.open(map, this)
			})

			var transitLayer = new google.maps.TransitLayer()
			transitLayer.setMap(map)

			infowindow = new google.maps.InfoWindow()
			var service = new google.maps.places.PlacesService(map)

			service.nearbySearch({
				location: location,
				radius: 2000,
				keyword: 'hotel',
				type: ['lodging']

			}, callback)
		}

		var styles = [{

			featureType: 'poi.business',
			stylers: [{visibility: 'off'}]
		}]


		function callback(results, status) {
			if (status === google.maps.places.PlacesServiceStatus.OK) {

				for (var i = 0; i < results.length; i++) {
					createMarker(results[i])
				}
			}
		}

		function createMarker(place) {
			var marker = new google.maps.Marker({

				position: place.geometry.location,
				map: map,

				icon: {

					path: google.maps.SymbolPath.CIRCLE,

					fillColor: '#383838',
					strokeColor: '#383838',

					fillOpacity: 1,
					strokeWeight: 1,
					scale: 7
				}
			})

			google.maps.event.addListener(marker, 'click', function() {
				infowindow.setContent('<div> <p style="font-weight:900;font-family:verdana; margin-bottom:5px">'
				+place.name+'</p>'+place.vicinity+'<br>'+'<a href="https://www.google.co.uk/maps/search/'
				+place.name.split(' ').join('+')+'/data=!3m1!4b1!4m5!2m4!5m3!5m2!1s2018-06-25!2i2">'+'Booking on Google Maps'+'</a></div>')
				infowindow.open(map, this)
			})

		}

	</script>
	<div class="docs-section" style="width:80%;margin-left:10%;" id="page-title">

		<svg width="44px" height="44px" viewBox="0 0 400 400">
			<path fill="red" d="M 100 50 L 200 100 L 300 50 L 200 300 z"/>
		</svg>
		<svg height="44px" width="155px">
			<text x="0" y="21" text-anchor="left"
			alignment-baseline="central">King's College London</text>
		</svg>
		<br></br>
		<svg width="44px" height="44px" viewBox="0 0 400 400">
			<circle cx="200" cy="200" r="50"/>
		</svg>
		<svg height="44px" width="101px">
			<text x="0" y="21" text-anchor="left"
			alignment-baseline="central">Accomodation</text>
		</svg>
		<br><br>
		<table>
			<tr>
				<th>
					<img src="img/underground.png" height=12 width=12></img>
					London Underground
				</th>
			</tr>
			<tr>
				<td>
					Temple, Charing Cross, Embankment,
					Waterloo, Holborn, Chancery Lane
				</td>
			</tr>
		</table>
		<table>
			<tr>
				<th>
					<img src="img/nationalrail.png" height=12 width=12></img>
					National Rail
				</th>
			</tr>
			<tr>
				<td>
					Charing Cross, Waterloo,
					Waterloo East, Blackfriars
				</td>
			</tr>
		</table>
		<table>
			<tr>
				<th>
					<img src="img/buses.png" height=12 width=12></img>
					Buses
				</th>
			</tr>
			<tr>
				<td>
					1, 4, 26, 59, 68, 76, X68, 168, 171,
					172, 176, 188, 243, 341, 521, RV1
				</td>
			</tr>
		</table>
	</div>
</div>

<% include ../partials/navigation %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLN2M83glFf1xRsjf_N741IFilc_6Gxjo&libraries=places&callback=initMap" async defer></script>

<footer>
	<% include ../partials/footer %>
</footer>
